.wrapper {
    position: relative;
    display: inline-block;
  }
  
  .input {
    padding: 8px 30px 8px 8px;
    font-size: 14px;
  }
  
  .eye {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .clear {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  